/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

body {
     font-family: Helvetica. Arial, sans-serif;
}

.mainnav {
     margin-right: 30px;
     margin-top:10px;
     z-index: 2000;
     position: fixed;
     background-color: #121212;
     padding-right: 10px;
}

.mainnav ul {
     list-style-type: none;
}

.mainnav li {
     display: inline;
     padding: 10px;
}

.mainnav a {
     color: #ffffff;
}

.mainnav a:hover {
     color: #606161;
}


.hero {
     color: #ffffff;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
     background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
     background-size: cover;
     min-height: 640px;
}

.herotext{
     float:left;
     position: relative;
     left:50%;
     align-items: center;
     margin-top: 200px;
}

.headline p {
     font-size: 24px;
     font-weight: 800;
     float:left;
     position: relative;
     left:-50%;
     margin:0;
}

.value p {
     font-size: 24px;
     font-weight: 600;
     float:left;
     position: relative;
     left:-50%;
}

.button1 {
     font-size: 14px;
     border-radius: 5px;
     border: 1px solid black;
     float:left;
     position: relative;
     text-align: center;
     margin-left: -60px;
     padding: 0 30px 0 30px;
     background-color: #f9e42e;
     font-weight: 800;
}

a {
     text-decoration: none;
     color: #000000;
}
a:hover {
     color: #ffffff;
}

.benefits {
     padding-top: 50px;
     margin-top: -10px;
     padding-bottom: 150px;
     background-color: #f0efef;
}

.benefitstitle{
     font-size: 20px;
     font-weight: 600;
     text-align: center;
}

.benefitsvalue {
     font-size: 13px;
     font-weight: 300;
     text-align: center;
}

.list {
     width:22%;
     display: inline-block;
     margin: 1%;
     float: left;
}

.list div {
     min-height: 80px;
     text-align: center;
}

.list p {
     font-size: 13px;
     font-weight: 300;
}

.testimonial {
     text-align: center;
     clear: both;
     padding: 50px 40px 50px 40px;
     color: #ffffff;
     background-image: url('../images/testimonial_bg.jpg');
}

blockquote {
     font-size: 18px;
     font-weight: 300;
     font-style: italic;
}

.testimonial p {
     font-size: 18px;
     font-weight: 600;
     margin-left: 200px;
}

.callout {
     height: 100px;
     background-color: #dcdcdc;
}

#brandname {
     font-size: 24px;
     font-weight: 800;
}

.callout p {
     font-size: 9px;
     font-weight: 600;
     margin: 10%;
}

.copyright {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
}

.button2 {
     font-size: 12px;
     border-radius: 5px;
     border: 1px solid black;
     text-align: center;
     background-color: #f9e42e;
     font-weight: 800;
     float:left;
     position: relative;
     left:50%;
     align-items: center;
     margin-left: -160px;
     margin-top: 30px;
     padding: 0 15px 0 15px;
     min-width: 100px;
}
